{% extends 'maps/base.html' %}
{% load socialaccount %}
{% block homeactive %}nav-link{% endblock %}
{% block mapactive %}nav-link active{% endblock %}
{% block recommendationsactive %}nav-link{% endblock %}
{% block recommendationslistactive %}nav-link{% endblock %}
{% block content %}

    <head>
        <style>
            .float-container {
        height: 94%;
        }
        .float-left {
            width: 75%;
            float: left;
            height: 100%;
        }
        .float-right {
            width: 25%;
            height: 50%;
            float: right;
            padding: 20px;
            border: none;
        }
        .float-bottom {
            width: 25%;
            height: 40%;
            float: right;
            padding: 20px;
            border: none;
        }       
        .dropdown-menu {
           max-height:200px;
           overflow:scroll; 
        }
        .dropdown-menu .dropdown-item:hover {
          background-image: none;
          background-color: grey!important;
          color: #FFFFFF
        }
       div.scroll {
            padding: 2px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: nowrap;
        }
        </style>
    </head>

    <div class="float-container">
        <div class="float-left">
            <div id='map' style="width: 100%; height: 92%;"></div>

<!--            Spinner Implementation-->
<!--              <div class="spinner-border m-5" role="status">-->
<!--                  <span class="sr-only">Loading...</span>-->
<!--              </div>-->
            <div class="d-inline-block">
                <p><small>Current Location Coordinates: (</small></p>
            </div>
            <div class="d-inline-block">
                <small><p id="insert"></p></small>
            </div>
            <div class="d-inline-block">
                <p><small> ); IGNORE this if "Location Services" not enabled</small></p>
            </div>
        </div>
        <div class="float-right">
            <div class='heading'>
                <h4>Common Locations</h4>
            </div>
            <div class="scroll">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          College of Arts and Sciences
                      </button>
                        <div class="dropdown-menu" style="background-color: grey; width: 100%">
                            <a class="dropdown-item" style="color:white" href="#"><div id='College of Arts and Sciences' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Dining
                      </button>
                        <div class="dropdown-menu" style="background-color:grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Dining' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Engineering School
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Engineering School' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Historical
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Historical' class='listings'></div></a>
                        </div>
                    </div>

                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Libraries
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Library' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Parking
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Parking Garage' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Athletic
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Athletic' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                      <button
                              type="button"
                              class="btn btn-primary dropdown-toggle"
                              data-toggle="dropdown"
                              aria-expanded="false"
                      >
                          Housing
                      </button>
                        <div class="dropdown-menu" style="background-color: grey">
                        <a class="dropdown-item" style="color:white" href="#"><div id='Housing' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Batten School
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Batten School' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            McIntire School of Commerce
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='McIntire School of Commerce' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Music
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Music' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Office
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Office' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Research
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Research' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            School of Education
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='School of Education' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Architecture
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Architecture' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Arts
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Arts' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Law
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Law' class='listings'></div></a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button
                                type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Darden School of Business
                        </button>
                        <div class="dropdown-menu" style="background-color: grey">
                            <a class="dropdown-item" style="color:white" href="#"><div id='Darden School of Business' class='listings'></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-bottom overflow-auto">
            <div class='heading'>
                <h3>Saved Routes</h3>
            </div>
            <div class='savedroutes list-group d-flex'>
                {% if user.is_authenticated %}
                    {% for savedroute in savedroutes %}
                    <div class="d-flex list-group-item">
                        <span class="justify-content-between">
                            {{ savedroute.name }}
                        </span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        mapboxgl.accessToken = '{{mapbox_access_token}}'; //renders django view variable
        geocodioApiKey = '{{geocodio_api_key}}';
        navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {enableHighAccuracy: true});
        defaultOrigin = "Desired Start Location";
        defaultDest = "Desired End Location";



        function successLocation(position) {
            userLocation = [position.coords.longitude, position.coords.latitude]; // automatically global variable for the user's location
            setupMap([position.coords.longitude, position.coords.latitude]);
            document.getElementById("insert").innerHTML = userLocation;
        }

        function errorLocation() {
            userLocation = [-78.512, 38.036];
            setupMap([-78.503, 38.036]);
            document.getElementById("insert").innerHTML = userLocation;
        }

        function getCoordinates(origin, dest) {
            var asArr = [origin, dest];
            var coordPromise = fetch('https://api.geocod.io/v1.6/geocode?api_key=' + geocodioApiKey, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify(asArr)
            });
            return coordPromise;
        }

        var SaveControl = L.Control.extend({ // I have no idea what this is doing
            container: null,
            saveBtn: null,
            loadBtn: null,
            delBtn: null,
            originPlaceholder: defaultOrigin,
            destPlaceholder: defaultDest,
            route: null,
            loaded: false, //whether the current route was loaded by the load button
            myMap: null,
            loadIn: null,
            myInDiv: null,
            mapDirProfile: null,

            //>>Required mapbox functions start
            onAdd: function (map) {
                this.container = L.DomUtil.create('div', 'save-control bg-white mt-1');
                this.myMap = map;

                var btnGrp = L.DomUtil.create('div', 'btn-group d-flex', this.container);
                btnGrp.setAttribute('role', 'group');

                this.saveBtn = L.DomUtil.create('button', 'btn bg-info text-white btn-sm', btnGrp);
                this.saveBtn.setAttribute('name', 'persist_type');
                this.saveBtn.setAttribute('type', 'button');
                this.saveBtn.setAttribute('value', 'Save route');
                this.saveBtn.innerHTML = 'Save';
                //save popover setup
                this.saveBtn.setAttribute('data-container', 'body');
                this.saveBtn.setAttribute('data-toggle', 'popover');
                this.saveBtn.setAttribute('title', 'Confirm Save');
                this.saveBtn.setAttribute('data-content', 'Ensure you have cleverly named this route in the box below. Click the save button again to confirm.');
                
                this.loadBtn = L.DomUtil.create('button', 'btn bg-secondary text-white btn-sm', btnGrp);
                this.loadBtn.setAttribute('name', 'persist_type');
                this.loadBtn.setAttribute('type', 'button');
                this.loadBtn.setAttribute('value', 'Load route');
                this.loadBtn.innerHTML = 'Load Saved';

                this.delBtn = L.DomUtil.create('button', 'btn bg-danger text-white btn-sm', btnGrp);
                this.delBtn.setAttribute('name', 'persist_type');
                this.delBtn.setAttribute('type', 'button');
                this.delBtn.setAttribute('value', 'Delete route');
                this.delBtn.innerHTML = 'Delete Saved';
                //delete popover setup
                this.delBtn.setAttribute('data-container', 'body');
                this.delBtn.setAttribute('data-toggle', 'popover');
                this.delBtn.setAttribute('title', 'Confirm Delete');
                this.delBtn.setAttribute('data-content', 'PERMANENTLY DELETE. Click the delete button again to confirm.');

                var inGrp = L.DomUtil.create('div', 'input-group', this.container);
                this.loadIn = L.DomUtil.create('input', 'form-control', inGrp);
                this.loadIn.setAttribute('placeholder', 'Enter route name to save/load/delete');
                this.loadIn.setAttribute('name', 'route_id');
                this.loadIn.setAttribute('maxlength', '100');

                //popovers must be manually initialized with jQuery
                //https://getbootstrap.com/docs/4.6/components/popovers/
                $(function () {
                    $('[data-toggle="popover"]').popover();

                   $('[data-toggle="popover"]').on('hidden.bs.popover', function(){
                        this.blur();
                    });

                    $('[data-toggle="popover"]').on('blur', function(){
                        $(this).popover('hide');
                    });
                });

                return this.container; //according to Leaflet IControl specification
            },

            onRemove: function () {
                this.getContainer().parentNode.removeChild(getContainer());
                this.myMap = null;
            },

            getDefaultPosition: function () {
                return 'top-left';
            },
            //>>Required mapbox functions end

            getRoute: function (saved) {
                var geojson = {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                        type: 'LineString',
                        coordinates: saved.geometry.coordinates
                    }
                };

                if (this.myMap.getSource('route')) { //if the route already exists, reset it
                    this.myMap.getSource('route').setData(geojson);
                }
<!--                 else {-->
<!--                    //see setupMap and https://docs.mapbox.com/help/troubleshooting/mapbox-browser-support/-->
<!--                    swal("Loading problem", "Mapbox loaded incorrectly. Allow hardware acceleration. Try refreshing the page.", "info");-->
<!--                 }-->

                var legs = saved.geometry.coordinates.length;
                var startCoord = saved.geometry.coordinates[0];
                var endCoord = saved.geometry.coordinates[legs - 1];
                var points = {
                    type: 'FeatureCollection',
                    features: [{
                        type: 'Feature',
                        properties: {
                            'title': 'origin'
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: startCoord
                        }
                    },
                    {
                        type: 'Feature',
                        properties: {
                            'title': 'destination'
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: endCoord
                        }
                    }]
                };

                if (this.myMap.getLayer('points-saved')) {
                    this.myMap.getSource('points-saved').setData(points);
                } else {
                    this.myMap.addLayer({
                        id: 'points-saved',
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: {
                                type: 'FeatureCollection',
                                features: [{
                                    type: 'Feature',
                                    properties: {
                                        'title': 'origin'
                                    },
                                    geometry: {
                                        type: 'Point',
                                        coordinates: startCoord
                                    }
                                },
                                {
                                    type: 'Feature',
                                    properties: {
                                        'title': 'destination'
                                    },
                                    geometry: {
                                        type: 'Point',
                                        coordinates: endCoord
                                    }
                                }]
                            }
                        },
                        paint: {
                            'circle-radius': 15,
                            //mapbox conditional expression decides point color
                            //https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/#decision
                            'circle-color': [
                                'case',
                                ['==', ['get','title'], 'origin'],
                                '#3887be',
                                '#9400d3'
                            ]
                        }
                    })

                    this.myMap.addLayer({
                        id: 'point-label',
                        type: 'symbol',
                        source: 'points-saved',
                        layout: {
                        //mapbox conditional expression decides point label
                        'text-field': [
                            'case',
                            ['==', ['get','title'], 'origin'],
                            'A',
                            'B'
                        ],
                        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                        'text-size': 12
                        }
                    });
                }
            },

            setRoute: function(route) {
                this.route = route;
                this.loaded = true;
            },

            getTextInput: function (head, placeholder) {
                var ret = undefined;
                var inputs = head.querySelectorAll("input");
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].placeholder == placeholder && inputs[i].type == "text") {
                        ret = inputs[i];
                        break;
                    }
                }

                return ret;
            },


            getRadioInput: function (head, name) {
                var ret = undefined;
                var inputs = head.querySelectorAll("input");
                for (var i = 0; i < inputs.length; i++)
                    if (inputs[i].name == name && inputs[i].type == "radio" && inputs[i].checked) {
                        ret = inputs[i];
                        break;
                    }
                return ret;
            },

            getDirProfile: function() {
                return this.getRadioInput(this.myInDiv, "profile").value;
            },

            //to be stored in the database
            createStorable: function(route) {
                var storable = {
                    'distance': route.distance,
                    'duration': route.duration,
                    'legs': route.legs,
                    'geometry': route.geometry
                }

                return storable;
            },

            setup: function () {
                this.container.parentNode.children[0].children[0].appendChild(this.container);
                var inDiv = this.container.parentNode;
                this.myInDiv = inDiv;
                var form = document.createElement('form');
                form.innerHTML = '{% csrf_token %}';
                form.method = 'POST';
                //prevent enter key in load/save/delete input from reloading page
                $(document).on("keydown", "form", function(event) { 
                    return event.key != "Enter";
                });

                this.container.parentNode.appendChild(form);
                form.appendChild(this.container);
                var start = this.getTextInput(inDiv, this.originPlaceholder);
                var end = this.getTextInput(inDiv, this.destPlaceholder);
                var dirProfile = this.getDirProfile(); // this is duplicated in the event listener
                var controller = this;

                this.saveBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    var popID = $(this).attr('aria-describedby'); //indicates popover is active; https://stackoverflow.com/questions/13442749/how-to-check-whether-a-twitter-bootstrap-popover-is-visible-or-not
                    if(popID) {
                        var startLatLn = start.value.split(',');
                        var endLatLn = end.value.split(',');
                        var dirProfile = controller.getDirProfile();

                        if (startLatLn.length == 2 && endLatLn.length == 2) {
                            var url = 'https://api.mapbox.com/directions/v5/' + dirProfile + '/' + startLatLn[0] + ',' + startLatLn[1] + ';' + endLatLn[0] +
                                ',' + endLatLn[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;

                            var req = new XMLHttpRequest();
                            req.open('GET', url, true);
                            req.onload = function () {
                                var json = JSON.parse(req.response);
                                var data = json.routes[0];
                                controller.route = data;

                                //just to shrink it down a bit
                                var storable = controller.createStorable(data);

                                //This is supposed to send the route save HTTP request to the django view
                                var formData = new FormData();
                                var btnParent = controller.container;
                                formData.append(form.children[0].name, form.children[0].value); //csrf token
                                formData.append('coords', JSON.stringify(storable));
                                formData.append('persist_type', 'Save route');
                                if(controller.loadIn.value != '')
                                {
                                    formData.append('route_id', controller.loadIn.value);
                                    fetch('{% url "maps:persist" %}', {
                                        method: 'POST',
                                        body: formData
                                    }).then(res => res.json()).then(res => {
                                        if(res.route_status == 'saved')
                                        {
                                            loadAll(document.getElementsByClassName('savedroutes')[0], form.children[0], '{% url "maps:get_routes" %}');
                                        }
                                        else if(res.message == 'already exists')
                                        {
                                            swal('Duplicate route!', 'You already have a route with that name!', 'warning');
                                        }
                                    });
                                }
                                else
                                {
                                    swal('No name!', 'Please enter a route name...', 'warning');
                                }
                            }
                            req.send()
                        } else if(startLatLn.length > 2 || endLatLn.length > 2) {
                            var startPromise = startLatLn;
                            var endPromise = endLatLn;
                            var startComplete = false;
                            var endComplete = false;

                            //function to request directions from mapbox
                            var requestFunc = function() {
                                if(endComplete && startComplete)
                                {
                                    console.log("in req"+startLatLn+" "+endLatLn);
                                    var url = 'https://api.mapbox.com/directions/v5/' + dirProfile + '/' + startLatLn[0] + ',' + startLatLn[1] + ';' + endLatLn[0] +
                                    ',' + endLatLn[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;

                                    var req = new XMLHttpRequest();
                                    req.open('GET', url, true);
                                    req.onload = function () {
                                        var json = JSON.parse(req.response);
                                        var data = json.routes[0];
                                        controller.route = data;

                                        //just to shrink it down a bit
                                        var storable = controller.createStorable(data);

                                        //This is supposed to send the route save HTTP request to the django view
                                        var formData = new FormData();
                                        let btnParent = controller.container;
                                        formData.append(form.children[0].name, form.children[0].value); //csrf token
                                        formData.append('coords', JSON.stringify(storable));
                                        formData.append('persist_type', 'Save route');
                                        if(controller.loadIn.value != '')
                                        {
                                            formData.append('route_id', controller.loadIn.value);
                                            fetch('{% url "maps:persist" %}', {
                                                method: 'POST',
                                                body: formData
                                            }).then(res => res.json()).then(res => {
                                                if(res.route_status == 'saved')
                                                {
                                                    loadAll(document.getElementsByClassName('savedroutes')[0], form.children[0], '{% url "maps:get_routes" %}');
                                                }
                                                else if(res.message == 'already exists')
                                                {
                                                    swal('Duplicate route!', 'You already have a route with that name!', 'warning');
                                                }
                                            });
                                        }
                                        else
                                        {
                                            swal('No name!', 'Please enter a route name...', 'warning');
                                        }
                                    }

                                    req.send()

                                    endComplete = false;
                                    startComplete = false;
                                }
                            }

                            var uvaURL = '{% url "maps:find_uva" %}';
                            var startData = new FormData();
                            startData.append(form.children[0].name, form.children[0].value); //csrf token
                            startData.append('keyword', start.value);

                            if(startLatLn.length != 2) {
                                fetch(uvaURL, {
                                    method: 'POST',
                                    body: startData
                                }).then(sres => sres.json()).then(sres => {
                                    startLatLn = [sres['location']['coordinates'][0], sres['location']['coordinates'][1]];
                                    
                                    if(startLatLn[0] && startLatLn[1]) //neither is null
                                    {
                                        startComplete = true;
                                        requestFunc();
                                    } else {
                                        var refined = sres['location']['properties']['address']+',Charlottesville,VA';
                                        getCoordinates(refined, '').then(cres => cres.json()).then(res => {
                                            if (res['results'][0]['query'] == '') {
                                                swal("Couldn't save", "Is origin/destination correct?", "info");
                                            }
                                            var startRes = res['results'][0]['response']['results'][0];
                                            endLatLn = [startRes.location.lng, startRes.location.lat];
                                            startComplete = true;
                                            requestFunc();
                                        })
                                    }
                                });
                            } else {
                                startComplete = true;
                                requestFunc();
                            }

                            var endData = new FormData();
                            endData.append(form.children[0].name, form.children[0].value); //csrf token
                            endData.append('keyword', end.value);
                            if(endLatLn.length != 2) {
                                fetch(uvaURL, {
                                    method: 'POST',
                                    body: endData
                                }).then(eres => eres.json()).then(eres => {
                                    console.log(eres);
                                    endLatLn = [eres['location']['coordinates'][0], eres['location']['coordinates'][1]];
                                    if(endLatLn[0] && endLatLn[1])
                                    {
                                        endComplete = true;
                                        requestFunc();
                                    } else {
                                        var refined = eres['location']['properties']['address']+',Charlottesville,VA';
                                        getCoordinates('', refined).then(cres => cres.json()).then(res => {
                                            if (res['results'][1]['query'] == '') {
                                                swal("Couldn't save", "Is origin/destination correct?", "info");
                                            }
                                            var endRes = res['results'][1]['response']['results'][0];
                                            endLatLn = [endRes.location.lng, endRes.location.lat];
                                            endComplete = true;
                                            requestFunc();
                                        })
                                    }
                                });
                            } else {
                                endComplete = true;
                                requestFunc();
                            }
                            
                        } else if(controller.loaded){
                            var storable = controller.createStorable(controller.route);

                            //This is supposed to send the route save HTTP request to the django view
                            var formData = new FormData();
                            let btnParent = controller.container;
                            formData.append(form.children[0].name, form.children[0].value); //csrf token
                            formData.append('coords', JSON.stringify(storable));
                            formData.append('persist_type', 'Save route');
                            if(controller.loadIn.value != '')
                            {
                                formData.append('route_id', controller.loadIn.value);
                                fetch('{% url "maps:persist" %}', {
                                    method: 'POST',
                                    body: formData
                                }).then(res => res.json()).then(res => {
                                    if(res.route_status == 'saved')
                                    {
                                        loadAll(document.getElementsByClassName('savedroutes')[0], form.children[0], '{% url "maps:get_routes" %}');
                                    }
                                    else if(res.message == 'already exists')
                                    {
                                        swal('Duplicate route!', 'You already have a route with that name!', 'warning');
                                    }
                                });
                            }
                            else
                            {
                                swal('No name!', 'Please enter a route name...', 'warning');
                            }
                        }
                        else 
                        {
                            swal('No route!', 'There seems to be no route to save...', 'warning');
                        }
                    }
                })

                this.loadBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    //This is supposed to send the route HTTP request to the django view
                    var formData = new FormData();
                    var btnParent = controller.container;
                    formData.append(form.children[0].name, form.children[0].value); //csrf token
                    formData.append('persist_type', 'Load route');
                    formData.append('route_id', controller.loadIn.value);
                    fetch('{% url "maps:persist" %}', {
                        method: 'POST',
                        body: formData
                    }).then(res => res.json()).then(res => {
                        if (res.route_status != 'failure') {
                            directions.removeRoutes();
                            controller.loaded = true;
                            var ldRoute = res.route;
                            controller.getRoute(ldRoute);
                            var steps = ldRoute.legs[0].steps;

                            controller.myMap.flyTo({
                                center: steps[steps.length-1].geometry.coordinates[0],
                                zoom: 14
                            });

                            var dirDiv = inDiv.parentNode.children[1];
                            dirDiv.innerHTML = '';
                            var dirControl = L.DomUtil.create('div', 'directions-control directions-control-directions', dirDiv);

                            dirControl.innerHTML = '<div class="mapbox-directions-component mapbox-directions-route-summary"><h1>' +
                                Math.floor(ldRoute.distance / 1609 * 100) / 100 + 'mi</h1><span>' +
                                Math.floor(ldRoute.duration / 60) + 'min </span></div>';

                            var loadDirDiv = L.DomUtil.create('div', 'mapbox-directions-instructions-wrapper', dirControl);
                            var instructions = L.DomUtil.create('ol', 'mapbox-directions-steps', loadDirDiv);

                            var tripInstructions = [];
                            for (var i = 0; i < steps.length; i++) {
                                var coord = steps[i].geometry.coordinates[0];
                                tripInstructions.push('<br><li class="mapbox-directions-step" data-lat="' + coord[1] + '" data-lng="' + coord[0] + '">' + steps[i].maneuver.instruction) + '</li>';
                            }

                            instructions.innerHTML =  tripInstructions;
                        }
                    });
                    
                    this.blur(); //remove focus from button
                })

                this.delBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    var popID = $(this).attr('aria-describedby'); //indicates popover is active; https://stackoverflow.com/questions/13442749/how-to-check-whether-a-twitter-bootstrap-popover-is-visible-or-not
                    if(popID) {
                        //This is supposed to send the route HTTP request to the django view
                        var formData = new FormData();
                        var btnParent = controller.container;
                        formData.append(form.children[0].name, form.children[0].value); //csrf token
                        formData.append('persist_type', 'Delete route');
                        formData.append('route_id', controller.loadIn.value);
                        fetch('{% url "maps:persist" %}', {
                            method: 'POST',
                            body: formData
                        }).then(res => res.json()).then(res => {
                            if(res.route_status == 'deleted')
                            {
                                loadAll(document.getElementsByClassName('savedroutes')[0], form.children[0], '{% url "maps:get_routes" %}');
                            }
                        })
                    }
                })
            }
        });

        function buildLocationList(data) {
            const buildingTypes = ['College of Arts and Sciences', 'Dining', 'Engineering School', 'Library',
                            'Parking Garage', 'Athletic', 'Housing', 'Historical', 'Batten School',
                            'McIntire School of Commerce', 'Music', 'Office', 'Research', 'School of Education',
                            'Architecture', 'Arts', 'Law', 'Darden School of Business'];
            data.features.forEach(function (facility, i) {
                var prop = facility.properties;
                buildingTypes.forEach(function(building, k) {
                    if (prop.category == building) {
                        /* Add a new listing section to the sidebar. */
                        var listings = document.getElementById(buildingTypes[k]);
                        var listing = listings.appendChild(document.createElement('div'));
                        /* Assign a unique `id` to the listing. */
                        listing.id = "listing-" + data.features[i].properties.id;
                        /* Assign the `item` class to each listing for styling. */
                        listing.className = 'item';

                        /* Add the link to the individual listing created above. */
                        var link = listing.appendChild(document.createElement('a'));
                        link.href = '#';
                        link.className = 'title';
                        link.id = "link-" + prop.id;
                        link.innerHTML = prop.name;

                        /* Add details to the individual listing. */
                        var details = listing.appendChild(document.createElement('div'));
                        details.innerHTML = prop.address;

                        link.addEventListener('click', function (e) {
                            e.preventDefault();
                            for (var i = 0; i < data.features.length; i++) {
                                if (this.id === "link-" + data.features[i].properties.id) {
                                    var clickedListing = data.features[i];
                                    map.flyTo({
                                        center: clickedListing.geometry.coordinates,
                                        zoom: 14
                                    });
                                    // pass link coordinates to directions API
                                    // used https://docs.mapbox.com/help/tutorials/getting-started-directions-api/?size=n_10_n
                                    var start = userLocation;
                                    var end = clickedListing.geometry.coordinates;
                                    var url = 'https://api.mapbox.com/directions/v5/'+saver.getDirProfile()+'/'+ start[0] + ',' + start[1] + ';' + end[0] +
                                        ',' + end[1] + '?steps=true&geometries=geojson&access_token=' + mapboxgl.accessToken;
                                    // make an XHR request https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest
                                    var req = new XMLHttpRequest();
                                    req.open('GET', url, true);
                                    req.onload = function () {
                                        var json = JSON.parse(req.response);
                                        var data = json.routes[0];
                                        directions.removeRoutes();
                                        saver.setRoute(data);
                                        var route = data.geometry.coordinates;
                                        var geojson = {
                                            type: 'Feature',
                                            properties: {},
                                            geometry: {
                                                type: 'LineString',
                                                coordinates: route
                                            }
                                        };
                                        saver.getRoute(data);

                                        // add turn instructions to the map
                                        // var instructions = document.getElementById('instructions');
                                        var steps = data.legs[0].steps;

                                        // copy-pasted from SaveControl
                                        var dirDiv = saver.myInDiv.parentNode.children[1];
                                        dirDiv.innerHTML = '';
                                        
                                        var dirControl = L.DomUtil.create('div', 'directions-control directions-control-directions', dirDiv);

                                        dirControl.innerHTML = '<div class="mapbox-directions-component mapbox-directions-route-summary"><h1>' +
                                            Math.floor(data.distance / 1609 * 100) / 100 + 'mi</h1><span>' +
                                            Math.floor(data.duration / 60) + 'min </span></div>';

                                        var loadDirDiv = L.DomUtil.create('div', 'mapbox-directions-instructions-wrapper', dirControl);
                                        var instructions = L.DomUtil.create('ol', 'mapbox-directions-steps', loadDirDiv);

                                        var tripInstructions = [];
                                        for (var i = 0; i < steps.length; i++) {
                                            var coord = steps[i].geometry.coordinates[0];
                                            tripInstructions.push('<br><li class="mapbox-directions-step" data-lat="' + coord[1] + '" data-lng="' + coord[0] + '">' + steps[i].maneuver.instruction) + '</li>';
                                        }

                                        instructions.innerHTML =  tripInstructions;
                                    };
                                    req.send();
                                }
                            }
                            var activeItem = document.getElementsByClassName('active');
                            if (activeItem[0]) {
                                activeItem[0].classList.remove('active');
                            }
                            this.parentNode.classList.add('active');
                        });
                    }
                });
            });
        }

        function setupMap(center) {
            map = new mapboxgl.Map({ // automatically global
                container: 'map',
                center: center,
                zoom: 14,
                style: 'mapbox://styles/mapbox/satellite-streets-v11',
                clickTolerance: 1
            })


            // zoom and compass stuff
            var nav = new mapboxgl.NavigationControl(); // https://docs.mapbox.com/mapbox-gl-js/example/navigation/
            map.addControl(nav);

//             var layerList = document.getElementById('menu');
//             var inputs = layerList.getElementsByTagName('input');

//             function switchLayer(layer) {
//                 var layerId = layer.target.id;
//                 map.setStyle('mapbox://styles/mapbox/' + layerId);

//             }

//             for (var i = 0; i < inputs.length; i++) {
//                 inputs[i].onclick = switchLayer;
//             }

            directions = new MapboxDirections({ // https://github.com/mapbox/mapbox-gl-directions
                accessToken: mapboxgl.accessToken,
                geocoder: {            // makes the location searches more Charlottesville-centric
                    countries: 'us',
                    marker: false,
                    proximity: center,
                    bbox: [-79, 37, -78, 39], // boundary box for Charlottesville
                },
                placeholderOrigin: defaultOrigin,
                placeholderDestination: defaultDest
            });
            saver = new SaveControl();

            // puts the search boxes and saves in the top left corner
            map.addControl(directions, 'top-left');
            map.addControl(saver, 'top-left');
            saver.setup();


            //resize the map a short time before full load
            //prevent the small map problem
            map.on('idle', function (e) {
                map.resize();
            });


            map.on('load', function (e) {  // https://docs.mapbox.com/help/tutorials/building-a-store-locator/
                //removes need to double-click to load route
                map.addLayer({
                    id: 'route',
                    type: 'line',
                    source: {
                        type: 'geojson',
                        data: {
                            type: 'Feature',
                            properties: {},
                            geometry: {
                                type: 'LineString',
                                coordinates: {}
                            }
                        }
                    },
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-color': '#429400',
                        'line-width': 10,
                        'line-opacity': 0.8
                    }
                });

                var url = "{% url 'maps:geo.json' %}"
                let facilities = "hi";

                fetch(url)
                    .then(res => res.json())
                    .then(res => {
                        facilities = res;// JSON.stringify(res);
                        //console.log(facilities);
                        facilities.features.forEach(function (facility, i) {
                            facility.properties.id = i;
                        });
                        buildLocationList(facilities);
                    });
                // give each facility an id

                // add them to the map
                /* map.addLayer({
                    'id': 'locations',
                    'type': 'circle',
                    'source': {
                        'type': 'geojson',
                        'data': facilities
                    }
                }); */



                /* facilities.features.forEach(function (marker) {
                    var el = document.createElement('div');
                    el.id = 'marker-' + marker.properties.id;
                    el.className = 'marker';

                    new mapboxgl.Marker(el, {offset: [0, -23]})
                        .setLngLat(marker.geometry.coordinates)
                        .addTo(map);


                    el.addEventListener('click', function (e) {
=                        map.flyTo({
                            center: marker.geometry.coordinates,
                            zoom: 14
                        });
                        var activeItem = document.getElementsByClassName('active');
                        e.stopPropagation();
                        if (activeItem[0]) {
                            activeItem[0].classList.remove('active');
                        }
                        var listing = document.getElementById(
                            'listing-' + marker.properties.id
                        );
                        listing.classList.add('active');
                    });
                });*/
            });

            //https://docs.mapbox.com/mapbox-gl-js/api/events/#mapdataevent
            map.on('sourcedata', function(e) {
                if(e.isSourceLoaded) {
                    //clear loaded route if directions API updates the map,
                    //and the origin-dest points source exists
                    //route source is guaranteed to exist; no need to check
                    if(e.sourceId == 'directions' && e.source.data.features.length > 2 && this.getSource('points-saved')) {
                        var emptyGeoJson = {
                            type: 'Feature',
                            properties: {},
                            geometry: {
                                type: 'LineString',
                                coordinates: {}
                            }
                        };
                        
                        //must used empty geojson or an error occurs
                        this.getSource('route').setData(emptyGeoJson);
                        this.getSource('points-saved').setData(emptyGeoJson);
                        saver.loaded = false;
                    }
                }
            })
            directions.setOrigin(userLocation);
        }
    </script>
{% endblock %}
</body>
</html>
