<!-- /***************************************************************************************
*  REFERENCES
*  URL: https://bootswatch.com/minty/>
*  Usage: Styling
*
***************************************************************************************/
 -->

{% extends 'maps/base.html' %}
{% block homeactive %}nav-link active{% endblock %}
{% block mapactive %}nav-link{% endblock %}
{% block recommendationsactive %}nav-link{% endblock %}
{% block recommendationslistactive %}nav-link{% endblock %}
{% load socialaccount %}
{% block content %}

<head>
    <style>
        div.small_indent
        {
            margin-left: 2%;
        }
        div.med_indent
        {
            margin-left: 3%;
        }
        div.large_indent
        {
            margin-left: 4%;
        }
        div.spacer
        {
          padding-top: 25px;
          padding-bottom: 15px;
        }
        div.smaller_spacer
        {
          padding-top: 10px;
          padding-bottom: 10px;
        }

    </style>
</head>
{% if user.is_authenticated %}
    <div class="text-center">
        <div class="spacer"></div>
        <div class="d-inline-block">
            <h2>Welcome,&nbsp</h2>
        </div>
        <div class="d-inline-block">
            <div class="text-uppercase">
                <h2>{{ user.username }}</h2>
            </div>
        </div>
        <div class="d-inline-block">
            <h2>!</h2>
        </div>
    </div>
    <div class="text-left">
        <div class="spacer"></div>
        <div class="small_indent">
            <h6>If you're new around here, below are a collection of brief summaries detailing what you can expect from the site:</h6>
        </div> 
        <div class="smaller_spacer"></div>
        <div class="small_indent">
            <h6><strong>Map Features</strong></h6>
        </div>
        <div class="large_indent">
            <div class="card mb-2" style="width: 90%">
                <div class="card-header bg-primary text-white">Using Location Services</div>
                <div class="card-body">
                    <h6 class="card-title">Default Starting Location</h6>
                    <h6 class="card-text"><small><strong>IMPORTANT: </strong>Of the two search bars found at the top left of the <strong>Map</strong> tab, the top search bar will have coordinates in it which correspond to your current location ONLY IF you have "Location Services" turned <strong>ON</strong>. Otherwise, please ignore these coordiantes as they do not yield a location valuable to you.</small></h6>
                    <hr>
                    <h6 class="card-title">Current Location Coordinates</h6>
                    <h6 class="card-text"><small>Just below the map, you can find your current location coordinates (<strong>should your "Location Services" be turned ON</strong>). Also, a simple refresh of the page will put your current location coordinates back in the top search bar.</small></h6>
                </div>
            </div>
            <div class="card mb-2" style="width: 90%">
                <div class="card-header bg-primary text-white">Map Controls</div>
                <div class="card-body">
                    <h6 class="card-title">Zoom & Drag</h6>
                    <h6 class="card-text"><small>You should be able to drag the map around and zoom in/out at your convenience. <strong>IMPORTANT: </strong>Should you be trying to drag the map around and it doesn't appear to be moving, <strong>BEFORE</strong> realeasing the mouse, drag it off to the side away from the map! If you release before doing so, the map may accidentally change your route.</small></h6>
                </div>
            </div>
        </div>
        <div class="large_indent">
            <div class="card mb-2" style="width: 90%">
                <div class="card-header bg-primary text-white">Common Locations Section</div>
                <div class="card-body">
                    <h6 class="card-title">Getting Routes to High-Traffic Locations at UVA</h6>
                    <h6 class="card-text"><small>When in the "Common Locations" section, you will see a series of dropdown menus. Clicking any of the links a given dropdown will display a route from your current location to the location described by the link.</small></h6>
                    <h6 class="card-text"><small><strong>IMPORTANT: </strong>Since this feature makes use of your current location when displaying routes, please ensure your "Location Services" are <strong>ON</strong> if you plan to use it. Otherwise, the routes displayed by this feature will not be useful for you.</small></h6>
                </div>
            </div>
        </div>
        <div class="large_indent">
            <div class="card mb-2" style="width: 90%">
                <div class="card-header bg-primary text-white">Saving Routes</div>
                <div class="card-body">
                    <h6 class="card-title">Saving and Naming</h6>
                    <h6 class="card-text"><small>If you find yourself searching for the same route repeatedly, this feature allows you to save said route so that you can load it up again any time you want.</small></h6>
                    <h6 class="card-text"><small>You will have to name every route you save. We recommend you think of a clear/obvious name before saving a route so that it will be easy for you to determine what route each saved route corresponds to.</small></h6>
                    <hr>
                    <h6 class="card-title">Saved Routes Section</h6>
                    <h6 class="card-text"><small>Any route you save will appear at the bottom right of the screen under the "Saved Routes" header. These routes are associated with your account, so they will not disappear when you leave the webiste. However, you must be <strong>logged in</strong> to use this feature.</small></h6>
                </div>
            </div>
        </div>
        <div class="smaller_spacer"></div>
        <div class="small_indent">
            <h6><strong>Leaving a Recommendation</strong></h6>
        </div>
        <div class="large_indent">
            <div class="card mb-2" style="width: 90%">
                <div class="card-header bg-primary text-white">Recommended Additions to Common Locations Section</div>
                <div class="card-body">
                    <h6 class="card-text"><small>We're pretty seasoned UVA experts here; however, sometimes we miss things. If you are searching through our "Common Locations" feature, and find yourself asking, "This place has to be here. Where is it?", you can write a recommendation to add said new location in the <strong>Recommendations</strong> tab.</small></h6>
                    <hr>
                    <h6 class="card-title">Recommendations Forum</h6>
                    <h6 class="card-text"><small>If you've posted a recommendation, the <strong>Recommendations List</strong> tab is where you will see it. In all likelihood, you will see a series of recommendations here.</small></h6>
                    <h6 class="card-text"><small>Each post has a like button associated with it. If any post gets enough likes (people who agree with it), it is automatically added to the "Common Locations" feature to be used by anybody who desires to do so.</small></h6>
                    <h6 class="card-text"><small>Each post also has a comments section. If you feel any particular way about a recommendation, this section allows you to share how you feel.<small></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="spacer"></div>
        <a class="text-decoration-none" href="{% url 'maps:default' %}">
            <h1><span class="badge bg-primary">Now Get to Exploring!</span></h1>
        </a>
        <div class="spacer"></div>
    </div>  
{% else %}
    <div class="text-center">
        <div class="jumbotron">
          <h1 class="display-4">Log In To Get Started</h1>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
              <img width="40px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              Login with Google
            </a>
          </div>
        </div>
    </div>


{% endif %}

{% endblock %}
