{% extends 'maps/base.html' %}
{% block homeactive %}nav-link active{% endblock %}
{% block mapactive %}nav-link{% endblock %}
{% block recommendationsactive %}nav-link{% endblock %}
{% block recommendationslistactive %}nav-link{% endblock %}
{% load socialaccount %}
{% block content %}

<head>
    <style>
        div.small_indent
        {
            margin-left: 2%;
        }
        div.med_indent
        {
            margin-left: 5%;
        }
        div.large_indent
        {
            margin-left: 8%;
        }
        div.spacer
        {
          padding-top: 25px;
          padding-bottom: 15px;
        }
        div.smaller_spacer
        {
          padding-top: 10px;
          padding-bottom: 10px;
        }

    </style>
</head>
{% if user.is_authenticated %}
    <div class="text-center">
        <div class="spacer"></div>
        <div class="d-inline-block">
            <h2>Welcome,&nbsp</h2>
        </div>
        <div class="d-inline-block">
            <div class="text-uppercase">
                <h2>{{ user.username }}</h2>
            </div>
        </div>
        <div class="d-inline-block">
            <h2>!</h2>
        </div>
    </div>
    <div class="text-left">
        <div class="spacer"></div>
        <div class="small_indent">
            <h6>If you're new around here, below are a collection of brief summaries of what you can expect to see in each tab shown in green bar at the top of the screen:</h6>
        </div> 
        <div class="smaller_spacer"></div>
        <div class="small_indent">
            <h6><strong>Map:</strong></h6>
        <div class="med_indent">
            <h6>Searching</h6>
            <ul class="list-unstyled">
                <div class="large_indent"> 
                    <li><h6><small>You will see two search bars at the top left of the screen. The top one will have coordinates in it. <strong>IMPORTANT: </strong>These coordinates will correspond to your current location IF AND ONLY IF you have "Location Services" turned <strong>ON</strong>. Otherwise, ignore these coordiantes as they will not be useful to you.</small></h6></li>
                    <li><h6><small>At your leisure, type any building names, addresses, or coordinates you so desire into the search bars, and so long as there is a start and end destination, a route will appear on the map taking you where you want to go.</small></h6></li>
                    <li><h6><small>You should be able to move the map around and zoom in/out at your convenicne. <strong>IMPORTANT: </strong>Should you be trying to drag the map around and it doesn't appear to be moving, BEFORE realeasing the mouse, drag it off to the side away from the map! If you don't, the map may accidentally change your route.</small></h6></li>
                </div>
             <ul>   
        </div>
        <div class="smaller_spacer"></div>
        <div class="small_indent">
            <h5>Head over to the <strong>Map</strong> tab and get to navigating!</h5>
        </div>
    </div>
{% else %}
    <div class="text-center">
        <div class="jumbotron">
          <h1 class="display-4">Log In To Get Started</h1>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
              <img width="40px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              Login with Google
            </a>
          </div>
        </div>
    </div>


{% endif %}

{% endblock %}
