{% extends 'maps/base.html' %}
{% load socialaccount %}
{% block homeactive %}nav-link {% endblock %}
{% block mapactive %}nav-link{% endblock %}
{% block recommendationsactive %}nav-link{% endblock %}
{% block recommendationslistactive %}nav-link active{% endblock %}
{% block content %}

<head>
     <style>
        div.small_indent
        {
            margin-left: 2%;
        }
        div.med_indent
        {
            margin-left: 5%;
        }
        div.large_indent
        {
            margin-left: 10%;
        }
        div.spacer
        {
          padding-top: 10px;
          padding-bottom: 10px
        }

    </style>
</head>

<div class="spacer"></div>
<div class="text-center">
    <h2>Recommendations Forum</h2>
</div>
<br>

{% if latest_recommendations_list %}
    <!--<ul class="list-group">-->
    <div class="container">
    {% for recommendation in latest_recommendations_list %}
        <div class="row justify-content-md-center">
            <div class="col col-lg m-3">
                <div class="row bg-light">
                    <div class="col col-lg">
                        <div class="row">
                            <div class="col">
                            <p> 
                                <span class="text-capitalize font-weight-bolder">{{ recommendation.location_name }}</span>
                                suggested by {{ recommendation.author.username }}
                                <span class="font-weight-light"> {{ recommendation.post_date }}</span>
                                <br>
                                <span class="text-capitalize">{{ recommendation.address }}</span>
                            </p>
                            </div>
                            <div class="col justify-content-right">
                            <p class="text-right font-weight-bold font-italic">{{ recommendation.get_category_display }}</p>
                            </div>
                        </div>
                        <p> 
                            {{ recommendation.details }}
                        </p>
                        <form action="{% url 'maps:update_recommendation' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{ recommendation.location_name }}">
                            <input type="hidden" name="author" value="{{ recommendation.author.username }}">
                            {% if user.is_authenticated %}
                            <button class="btn bg-success text-white btn-sm like-btn" type="button" name="update_type" value="like">
                                like <span class="badge badge-light">{{ recommendation.likes|length }}</span>
                            </button>
                            {% else %}
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Log in to like">
                            <button class="btn bg-success text-white btn-sm like-btn" type="button" style="pointer-events: none;" disabled>
                                like <span class="badge badge-light">{{ recommendation.likes|length }}</span>
                            </button>
                            </span>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg">
                        <div class="comments-section">
                            <div class="row bg-light">
                                <div class="col col-lg">
                                    <div>
                                        <form action="{% url 'maps:update_recommendation' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="name" value="{{ recommendation.location_name }}">
                                            <input type="hidden" name="author" value="{{ recommendation.author.username }}">
                                            <textarea class="md-textarea form-control ml-0 mb-2" name="comment" style="resize: none" maxlength="140" placeholder="Share any thoughts here! In 140 characters or less..."></textarea>
                                            {% if user.is_authenticated %}
                                            <button class="btn btn-secondary btn-sm comment-btn" type="submit" name="update_type" value="comment">
                                                Post
                                            </button>
                                            {% else %}
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Log in to comment">
                                            <button class="btn btn-secondary btn-sm comment-btn" type="submit" style="pointer-events: none;" disabled>
                                                Post
                                            </button>
                                            </span>
                                            {% endif %}
                                        </form>
                                    </div>
                                    <a class="comments-toggle text-decoration-none" href="#">
                                        Comments
                                    </a>
                                </div>
                            </div>
                            <div class="row bg-light">
                                <div class="col col-lg">
                                    <div class="comments bg-primary" style="display: none">
                                        {% if recommendation.comment_set.all %}
                                        {% for comment in recommendation.sorted_comment_set %}
                                        <div class="card ml-3 mt-1 mb-2"> 
                                            <div class="card-header">
                                                <span class="font-weight-bold">{{ comment.author.username }}</span>
                                                <span class="text-capitalize small">{{ comment.post_date }}</span>
                                            </div>
                                            <p class="font-weight-normal ml-4 mt-2">{{ comment }}</span>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                            <p>No comments here...</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('[data-toggle="tooltip"]').on('blur', function (e) {
                $(this).tooltip('hide');
            })
        })

        $(".like-btn").click(function (e) {
            e.preventDefault();

            var csrf = $(this.parentNode).find('[name="csrfmiddlewaretoken"]');
            var recName = $(this.parentNode).find('[name="name"]');
            var recAuthor = $(this.parentNode).find('[name="author"]');

            var formData = new FormData();
            formData.append(csrf.prop("name"), csrf.prop("value"));
            formData.append(recName.prop("name"), recName.prop("value"));
            formData.append(recAuthor.prop("name"), recAuthor.prop("value"));
            formData.append("update_type", "like");

            var loadOverlay = document.createElement("div");
            $(loadOverlay).css({
                "position": "fixed",
                "top": "0",
                "height": "100%",
                "width": "100%",
                "background-color": "rgba(255,255,255,0.7"
            });
            $("body").append(loadOverlay);
            var spinner = document.createElement("div");
            $(spinner).css({
                "position": "absolute",
                "top": "50%",
                "left": "50%"
            });
            $(spinner).attr({
                "class": "spinner-border",
                "role": "status",
            });
            $(loadOverlay).append(spinner);
            var sr = document.createElement("span");
            $(sr).attr("class", "sr-only");
            $(sr).html("Loading...");
            $(spinner).append(sr);

            fetch("{% url 'maps:update_recommendation' %}", {
                method: "POST",
                body: formData
            }).then(res => { 
                if(res.redirected) {
                    document.location.href=res.url;
            } else {
                res.json().then(res => {
                if("likes" in res) {
                    $(this).find("span").html(res["likes"]);
                    $(loadOverlay).remove();
                }
            })
            }});
        });

        $(".comments-toggle").click(function (e) {
            e.preventDefault();

            var comments = $(this).closest(".row").parent().parent().find(".comments");
            //toggle comment visibility
            if(comments.css("display") == "none")
            {
                comments.css("display", "unset");
            } else {
                comments.css("display", "none");
            }
        })
    </script>
    </ul>
{% else %}
    <p>No recommendations have been written.</p>
{% endif %}
<br><br><br><br><br>

{% endblock %}
</body>
</html>
