{% extends 'maps/base.html' %}
{% block homeactive %}nav-link {% endblock %}
{% block mapactive %}nav-link {% endblock %}
{% block recommendationsactive %}nav-link active{% endblock %}
{% block recommendationslistactive %}nav-link{% endblock %}
{% load socialaccount %}
{% block content %}

<head>
    <style>
        form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 50%;
        /* Form outline */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
      }
    </style>
</head>
{% if user.is_authenticated%}
    <div class="text-center">
         <div class="pt-2 pb-2"></div>
         <h2>Recommend Additions to "Common Locations"</h2>
     </div>
    <div class="mx-auto text-center m-3" style="width: 780px;">
        <p>Did we miss any places you think should be in the "Common Locations" section?<br>
        If we did, give us some information about your recommended addition in the post form below,<br>
        and if 5 other users agree with you by liking your post, your recommendation<br>
        will be added to the "Common Locations" section!</p>
    </div>


    <div class="pt-2 pb-2"></div>
    <div class="mb-3">
        <form action="{% url 'maps:recommendations' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <small>
                By: {{ user.username }}
            </small>
            <div class="pt-2 pb-2"></div>
            <button class="btn btn-secondary">Post</button>
            <br><br><br>
        </form>
    </div>
{% else %}
    <div class="text-center">
         <div class="pt-2 pb-2"></div>
         <h2>Must be logged in to leave a recommendation</h2>
    </div>
{% endif %}


{% endblock %}
</body>
</html>
